body {
  background-color: #e6f2ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#menuBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search-button {
  display: flex;
  align-items: end;  
  
}

#pageMenu {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: slideIn 1s ease;
  position: relative;
}

@keyframes slideIn {
  from {
     transform: translateY(-50px);
     opacity: 0;
  }
  to {
     transform: translateY(0);
     opacity: 1;
  }
}

.header {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
  animation: fadeSlideIn 1s ease;
}

@keyframes fadeSlideIn {
  from {
     opacity: 0;
     transform: translateX(-20px);
  }
  to {
     opacity: 1;
     transform: translateX(0);
  }
}

h1 {
  color: #1855ff;
  font-size: 36px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease;
}

.author {
  font-size: 12px;
  color: #999;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  animation: fadeIn 1s ease;
}

.buttons button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons button:hover {
  background-color: #0056b3;
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
     transform: translateX(0);
  }
  25% {
     transform: translateX(-5px);
  }
  50% {
     transform: translateX(5px);
  }
  75% {
     transform: translateX(-5px);
  }
  100% {
     transform: translateX(0);
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-section select {
  margin-right: 10px;
}


.players-section {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.button-section {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

button:focus {
  outline: none;
}







