
    <header>
        <h1>Cartes</h1>
        <div class="button-section">
            <button id="backButton" onclick="javascript:indexCtrl.loadMenu();">Retour à l'accueil</button>
        </div>
    </header>

    <div class="container">
        <div class="button-section">
            <button onclick="HttpService.displayAllCards()">Afficher toutes les cartes</button>
          </div>

        <div id="cards-list" class="cards-section">
            <!-- Espace réservé pour afficher les cartes -->
        </div>
    </div>

   

