
    <header>
        <h1>Cartes</h1>
    </header>

    <div class="container">
        <div class="filter-section">
            <label for="sort">Trier par :</label>
            <select id="sort">
                <option value="rarity">Nom</option>
                <option value="elixir">level maximum (décroissant)</option>
            </select>
        </div>

        <div id="cards-list" class="cards-section">
            <!-- Espace réservé pour afficher les cartes -->
        </div>
    </div>

    <div class="button-section">
      <button onclick="javascript:indexCtrl.loadMenu();">Retour à l'accueil</button>
    </div>

